.feature-wrapper {
    .feature-image {
        max-width: 585px;

        img {
            @include imgw;
        }
    }

    .feature-icon-area {
        .icon-items {
            @include flex;
            gap: 30px;
            margin-bottom: 45px;

            .icon {
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
                background-color: $white;
                box-shadow: $shadow;
                border-radius: 50%;
            }

            .content {
                flex-basis: 60%;

                h3 {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &.style-2 {
        .feature-image-2 {
    
            img {
                @include imgw;
            }
        }

        .feature-content {
            margin-left: 60px;

            @include breakpoint (max-xxl){
                margin-left: 30px;
            }

            @include breakpoint (max-lg){
                margin-left: 0;
            }

            .feature-icon-area {
                margin-top: 40px;
            }
        }
    }
}

.feature-section {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background-color: $bg-color;
        z-index: -1;
        width: 35%;
    }
}



.counter-section {
    background-color: $theme-color-2;
}

.counter-wrapper {
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-lg){
        flex-wrap: wrap;
        gap: 30px;
    }

    @include breakpoint (max-xxs){
        justify-content: center;
    }
    
    .counter-items {
        display: flex;
        gap: 30px;

        h2 {
            font-size: 16px;
            color: $white;
            margin-bottom: 5px;
            line-height: 1;

            span {
                font-size: 60px;
                color: $white;
            }
        }

        p {
            position: relative;
            color: $white;
            padding-left: 30px;

            &::before {
                position: absolute;
                left: 0;
                content: "---";
                color: #dd867a;
            }
        }
    }
}

.service-card-items {
    margin-top: 30px;
    background-color: $white;
    box-shadow: $shadow;

    .service-image {
        padding: 15px 15px 0 15px;

        img {
            @include imgw;
        }
    }

    .service-content {
        padding: 25px 30px;
        text-align: center;

        h3 {
            margin-bottom: 10px;
        }

        .link-btn {
            margin-top: 10px;

            &:hover {
                color: $theme-color-2;
            }
        }
    }
}